.wrapper {
  width: 100%;
  padding-top: 7rem;
  @media (max-width: $sm) {
    padding-top: 0rem;
  }
  .slick-dots {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 1rem 0;
    list-style-type: none;
    li {
      margin: 0 0.25rem;
    }

    button {
      display: block;
      width: 1rem;
      height: 0.2rem;
      padding: 0;
      background-color: $gray;
      text-indent: -9999px;
    }
    li.slick-active {
      button {
        background-color: $white;
      }
    }
  }

}



.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
  h3 {
    padding-top: 1.5rem;
    color: $white;
    text-align: center;
    font-size: 1.5em;
  }
  p {
    color: $white;
    padding-bottom: 1.5rem;
  }
  &:hover {
    .flip-card-inner {
      transform: rotateY(180deg);
    }
  }
}
.flip-card-mobile {
  width: 100%;
  height: 300px;
  h3 {
    padding: 1.5rem;
    color: $white;
    text-align: center;
    font-size: 1.5em;
  }
  p {
    color: $white;
    padding-bottom: 1.5rem;
  }
  a {
    display: flex;
    width: auto;
    margin: 0 auto;
    padding: 1rem 1.88rem;
    background: linear-gradient(to right, $green 50%, #fff 50%);
    background-size: 200% 100.5%;
    background-position: right bottom;
    color: $black;
    border: none;
    border-left: 0.5rem solid $green;
    border-color: none;
    box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.08);
    transition: all 0.3s ease-out;
    &:hover {
      background-position: left bottom;
      color: white;
    }
  }
  
}
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.flip-card-front {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid $green;
  border-radius: 0.3rem;

  img {
    height: 30%;
    max-width: 100%;
  }
}
.flip-card-back {
  p {
    padding-left: 0.9rem;
    padding-right: 0.9rem;
  }
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid $green;
  border-radius: 0.3rem;
  transform: rotateY(180deg);
  a {
    display: block;
    padding: 1rem 1.88rem;
    background: linear-gradient(to right, $green 50%, #fff 50%);
    background-size: 200% 100.5%;
    background-position: right bottom;
    color: $black;
    border: none;
    border-left: 0.5rem solid $green;
    border-color: none;
    box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.08);
    transition: all 0.3s ease-out;
    &:hover {
      background-position: left bottom;
      color: white;
    }
  }
}
/* .grid-container {
  display: grid;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 10vh;
  grid-template-columns: repeat(3, 1fr);
} */


  
.portfolio-menu {
  @media (max-width: $sm) {
    display: none;
  }
  display: flex;
  margin: 0 auto;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  ul {
    @media (max-width: $sm) {
      display: contents;
    }
    li {
      padding: 0 1rem;
      color: $white;
      font-size: 20px;
      display: flex;
      list-style: none;
      cursor: pointer;
      transition: all 0.5 ease;
      border-radius: 0.3rem;

      &:hover {
        background: $green;
        color: #fff;
      }
    }
    li.active {
      color: $white;
      background: $green;
      padding: 0 1rem;
    }
  }
}
.portfolio-item {
  @media (max-width: $sm) {
    display: none;
  }
  
  max-width: 80%;
  margin: 45px auto;
}
.grid-item {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 auto;
  gap: 1.5rem;
}



.slide-item {
    margin: auto 0;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    width: 5rem;
  }
}
.filter-mobile {
  @media (min-width: $lg) {
    display: none;
  }
  padding:  1rem 0;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  ul {
    @media (max-width: $sm) {
      display: contents;
    }
    li {
      padding: 0 1rem;
      color: $white;
      font-size: 20px;
      display: flex;
      list-style: none;
      cursor: pointer;
      transition: all 0.5 ease;
      border-radius: 0.3rem;

      &:hover {
        background: $green;
        color: #fff;
      }
    }
    li.active {
      color: $white;
      background: $green;
      padding: 0 1rem;
    }
  }
}
#mobile{
  @media (min-width: $md) {
    display: none;
  }
}
.slide {

  padding:  1rem 0;
  text-align: center;
  img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 5rem;
  }
  .content{
    h3{
      padding: 1rem ;
      color: $white;

    }
    a {
      display: flex;
      width: 60%;
      margin: 0 auto;
      padding: 1rem 1.88rem;
      background: linear-gradient(to right, $green 50%, #fff 50%);
      background-size: 200% 100.5%;
      background-position: right bottom;
      color: $black;
      border: none;
      border-left: 0.5rem solid $green;
      border-color: none;
      box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.08);
      transition: all 0.3s ease-out;
      &:hover {
        background-position: left bottom;
        color: white;
      }
    }
  }
 
}
#desktop{
  @media (max-width: $md) {
    display: none;
  }
}