$white: #fafafa;
$black: #1d1e22;
$black-matte: #293033;
$gray:#808080;
$green: #42b883;
$linkedin: #007fb1;
$whatsapp: #25d366;
$xs: 320px;
$sm: 575px;
$md: 991px;
$lg:1204px;
$xl:1536px;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	border: none;
}
::selection {
	background-color: $black;
	color: $white;
}




